<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
</head>
<body>
    <%- include('../layout'); -%>
    <div class="container">

        <br>
        <h5>รายชื่อนักเรียน</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">StudentID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Progression</th>
            </tr>
          </thead>
          <tbody>

            <% if(locals.students){%>
            <% for (var result of locals.students){ %>
            <tr>
              <td><%= result.Student_ID %></td>
              <td><%= result.Student_Name %></td>
              <td><%= result.Student_Email %></td>
              <td ><div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div></td>
            </tr>
            <% } %>
            <% } %>
          </tbody>
        </table>
        <br>

        <% if(locals.students){%>
        <form class="form-group" action="/answers/problem/<%= locals.section_id %>/101" method="get">
          <input type="submit" name="" value="ตรวจแบบฝึกหัด" class="btn btn-success">
        </form>
        <% } %>

        <br>
        <h5>ลบนักเรียน</h5>
          <form class="form-group" action="/students/delete" method="post">
            <div class="form-group">
              <label for="">รหัสนักเรียน:</label>
              <input type="text" name="student_id" value="" class="form-control">
          </div>
          <input type="submit" name="" value="ลบ" class="btn btn-danger">
          </form>
      </div>
</body>
</html>